<div class="container">
    <h1>Дерево подчиненности сотрудников</h1>

    <div class="col-md-4">
        <%= form_tag({controller: "employee", action: "show"}, method: "get") do %>
            <div class="input-group">
                <%= select_tag(:employee_id, options_for_select(Employee.all.map{ |emp| [emp.name, emp.id] }), include_blank: "All", class: "custom-select") %>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Button</button>
                </div>
            </div>
        <% end %>
    </div>

    <div class="col-md-8">
        <ul class="ul-tree ul-drop">
            <%= render 'sublist', employees: @employees %>   
            <% @employees.each do |emp| %>
                <li><%= emp.name %>
                    <% if (emp.children.count > 0)%>
                        <ul>
                            <%= emp.render_children(emp) %>
                        </ul>
                    <% end %>
                </li>
            <% end %>
        </ul>
    </div>
    <ul class="ul-tree ul-drop">
        <li> first 
            <ul>
                <li>second</li>
            </ul>
        </li>
    </ul>
</div>